@-webkit-keyframes bounce {
    0%   { margin-left:5px;}
    50% { margin-left:10px;}
    100%{ margin-left:5px;}
  }
@keyframes bounce {
      0%   { margin-left:5px;}
      50% { margin-left:10px;}
      100%{ margin-left:5px;}
    }

html, body{
  margin:0;
}
body{
  #background-image:url(https://images.unsplash.com/photo-1431963597099-b93648d13015?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=684b316f3e99bc90b0c72c5ae35ec9f8);
  background-size:cover;
  background-repeat:no-repeat;
  font-family: Andale Mono, Courier, monospace;
  min-width: 510px;
}
#cover{
  position:fixed;
  top:0;
  left:0;
  z-index: -5;
  width:100%;
  height:100%;
  opacity:1;
  background: #E0EAFC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#content{
  margin:30px auto;
  width:490px;
  min-width:490px;
}
div{
  display:inline-block;
  font-family: Andale Mono, Courier, monospace;
  color:#979797;
}
b{
  color:#555;
  font-weight: 500;
}
.circle{
  background-color:white;
  border:1px solid #979797;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  border-radius:1000px;
}
.square{
  background-color:white;
  border:1px solid #979797;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  border-radius:10px;
  padding:10px;
}
#head{
  position:relative;
  vertical-align: middle;
  width:80px;
  height:80px;
  margin-left:30px;
}
#head object{
  position:absolute;
  top: 12px;
  left:12px;
}
#bio{
  animation: bounce 1s 10000;
  -webkit-animation:bounce 1s 10000;
  vertical-align: middle;
  position:relative;
  margin-left: 5px;
  z-index: 1;
  width:250px;
  height:105px;
  padding-top:40px;
  padding-left:65px;
}
#bio object{
  z-index: -1;
  position:absolute;
  left:0;
  top:15px;
}
#cm{
  position:relative;
  vertical-align: middle;
  margin-top:5px;
  width:40px;
  height:40px;
  margin-left:80px;
}
#cm object{
  position:absolute;
  top: 12px;
  left:9px;
}
#mail{
  position:relative;
  margin-left: 0px;
  z-index: 1;
  width:250px;
  height:50px;
  font-size:16px;
  padding-top:32px;
  padding-left:43px;
}
#mail object{
  z-index: -1;
  position:absolute;
  left:0;
  top:15px;
}
#mail a{
  color:inherit;
  opacity: 1;
  text-decoration: underline;
}
#mail a:hover{
  text-decoration:none;
}

.buttons{

  width:50%;
}
a img{
  padding-top:10px;
  padding-bottom:10px;
  padding-top:10px;
  padding-bottom:10px;
  width:25px;
}
.buttons a{
  color:inherit;
  opacity:1;
}
.buttons a:hover{
  opacity:0.5;
}
.glyph a{
  opacity:0.5;
}
.glyph a:hover{
  opacity:0.75
}
.tab{
  width:100%;
  color: #979797;
}
.tab th{
  color:black;
  opacity:0.25;
  text-align: center;
  font-weight: normal;
}
.pl{
  width:60px;
  /*-webkit-filter: grayscale(1);
  filter: grayscale(1);*/
  opacity:0.5;
}
.pl:hover{
  /*-webkit-filter: grayscale(0);
  filter: grayscale(0);*/
  opacity:1;
}
.pr{
  width:60px;
  opacity:0.5;
}
.pr:hover{
  opacity:1;
}
i{
  opacity:0.25;
}
.ext a img{
  width:auto;
  opacity:1;
  max-width:50px;
  max-height:50px;
  vertical-align: middle;
}
.ext a img:hover{
  opacity:0.6;
}
